html,
body {
  min-height: 100%;
}

body {
  background-color: #4b438b;
  overflow: hidden;
  font: 12px/24px '\5FAE\8F6F\96C5\9ED1,\5B8B\4F53';
}

.fullWrap {
  width: 100%;
  position: relative;
}

.fullWrap .section {
  position: relative;
  overflow: hidden;
}

.section::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

.section1:before {
  // padding-top: 0px;
  // background: url("../images/bg1.jpg") no-repeat;
  // background-size: cover;
  // background-position: center 0;
}

.section2:before {
  background: url("../images/bg2.jpg") no-repeat 0 0;
  background-size: cover;
  background-position: center 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.section3:before {
  background: url("../images/bg3.jpg") no-repeat 0 0;
  background-size: cover;
  background-position: center 0;
}

.section4:before {
  background: url("../images/bg4.jpg") no-repeat 0 0;
  background-size: cover;
  background-position: center 0;
}

.section1 {

  .sc12-box {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -540px 0 0 -960px;
    z-index: 2;
  }
}


.top-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.top-wrap,
.top-head {
  overflow: visible;
}

.section1 #myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1920px;
  height: 1050px;
  margin-left: -960px;
  margin-top: -512px;
  z-index: 3;
}

.sc1-logo {
  position: absolute;
  top: 50px;
  left: 30%;
  width: 740px;
  height: 102px;
  // margin: 0 auto;
  // margin-top: 30px;
  z-index: 10;

  img {
    width: 163px;
    height: 102px;
  }
}


.sc1-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  z-index: 9;
}

.sc1-text {
  text-align: center;
  margin-left: 400px;
  font-size: 16px;
  margin-bottom: 360px;
  color: #ffffff;

  a {
    color: #ffffff;

  }
}

.sc1-tips {
  float: left;
  margin-left: 600px;
  margin-top: 95px;
  margin-right: 50px;

  a {
    display: block;
    width: 87px;
    height: 113px;
    z-index: 999;
  }

  img {
    width: 87px;
    height: 113px;
  }
}

.sc1-into {
  float: right;
  transform: translateY(40px);
  margin-right: 65px;

  img {
    width: 196px;
    height: 217px;
    animation: zoom alternate infinite linear 1s;
    -webkit-animation: zoom alternate infinite linear 1s;
  }
}

.sc1-down {
  width: 290px;
  height: 61px;
  position: absolute;
  left: 50%;
  top: 92%;
  transform: translate(-50%, -50%);
  z-index: 9;
  animation: down alternate infinite linear 1s;
  -webkit-animation: down alternate infinite linear 1s;
}

.sc2-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  width: 1000px;
  height: 890px;

  .sc2-title {
    display: block;
    width: 841px;
    height: 165px;
    margin: 0 auto;
  }

  .sc2-rwbg {
    position: relative;
    width: 701px;
    height: 532px;
    margin: 0 auto;
    margin-top: 50px;
    background: url("../images/sc2-rwbg2.png") no-repeat 0 0;
    background-size: 100% 100%;

    .sc2-rw {
      position: absolute;
      top: -50px;
      left: 0;
      margin-left: 80px;
      width: 547px;
      height: 561px;
    }

    .sc2-skill1 {
      position: absolute;
      right: 25px;
      top: 22px;

      img {
        float: left;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 1px solid #4f3db6;
      }

      p {
        float: left;
        line-height: 42px;
        margin-left: 12px;
        font-size: 18px;
        color: #ddcefb;
      }
    }

    .sc2-name {
      position: absolute;
      right: -270px;
      top: 120px;
      width: 428px;
      height: 40px;
      background: url("../images/sc2-namebg.png") no-repeat 0 0;
      background-size: 100% 100%;

      p {
        position: absolute;
        left: 40px;
        top: -20px;
        margin-left: 30px;
        line-height: 50px;
        font-weight: bold;
        font-size: 42px;
        background: linear-gradient(to bottom, #b9a8ff, #e7d6f9);
        -webkit-background-clip: text;
        color: transparent;
      }

      a {
        position: absolute;
        left: 270px;
        top: -28px;
        display: block;
        width: 63px;
        height: 63px;
        background: url("../images/sc2-play.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }

    .slbg {
      // display: block;
      position: relative;
      float: left;
      width: 123px;
      height: 123px;
    }

    .sc2-skll2-1 {
      position: absolute;
      right: -128px;
      top: 230px;

      .sc2-slll2bg {
        background: url("../images/sc2-skillbg.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      p {
        margin-top: 50px;
        margin-left: 8px;
        float: left;
        font-size: 18px;
        color: #c3b3ff;
      }
    }

    .sc2-skll2-2 {
      position: absolute;
      right: -108px;
      top: 400px;

      .sc2-slll2bg {
        background: url("../images/sc2-skillbg.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      p {
        margin-top: 50px;
        margin-left: 8px;
        float: left;
        font-size: 18px;
        color: #c3b3ff;
      }
    }

    .sc2-skll2-3 {
      position: absolute;
      left: -80px;
      top: 50px;

      .sc2-slll2bg {

        background: url("../images/sc2-skillbg2.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      p {
        margin-top: 50px;
        margin-right: 8px;
        float: left;
        font-size: 18px;
        color: #c3b3ff;
      }
    }

    .sc2-skll2-4 {
      position: absolute;
      left: -130px;
      top: 230px;

      .sc2-slll2bg {

        background: url("../images/sc2-skillbg2.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      p {
        margin-top: 50px;
        margin-right: 8px;
        float: left;
        font-size: 18px;
        color: #c3b3ff;
      }
    }

    .sc2-skll2-5 {
      position: absolute;
      left: -108px;
      top: 400px;

      .sc2-slll2bg {
        background: url("../images/sc2-skillbg2.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      p {
        margin-top: 50px;
        margin-right: 8px;
        float: left;
        font-size: 18px;
        color: #c3b3ff;
      }
    }

    .skll-intr1 {
      position: absolute;
      width: 330px;
      padding: 18px 22px;
      font-size: 16px;
      line-height: 24px;
      color: #efe5ff;
      background: rgba(0, 0, 0, .5);
    }

    .pa {
      left: -390px;
      top: 50%;
      transform: translateY(-50%);
    }

    .pa2 {
      right: -390px;
      top: 50%;
      transform: translateY(-50%);
    }

    .unshow {
      display: none;
    }

    .sc2-skill2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-51%, -51%);
      width: 79px;
      height: 79px;
      border-radius: 50%;
    }

  }

  .sc2-btn {
    margin-left: 30px;

    .btn {
      display: block;
      float: left;
      width: 213px;
      height: 53px;
      font-size: 24px;
      color: #ffffff;
      margin: 30px 50px;
      text-align: center;
      line-height: 53px;
      background: url("../images/sc2-btn.png") no-repeat 0 0;
      background-size: 100% 100%;
      transition: all 0.4s;

      &:hover {
        color: #f2954b;
        background: url("../images/sc2-btn-active.png") no-repeat 0 0;
      }
    }

    .btn-active {
      color: #f2954b;
      background: url("../images/sc2-btn-active.png") no-repeat 0 0;
    }
  }
}

.sc3-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  width: 1000px;
  height: 890px;

  .sc3-title {
    display: block;
    width: 992px;
    height: 165px;
    margin: 0 auto;
  }

  .sc3-text {
    width: 476px;
    height: 11px;
    margin: 20px auto 25px auto;
    line-height: 11px;
    font-size: 16px;
    color: #a6a4d7;
    text-align: center;
    background: url("../images/sc3-textbg.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .sc3-text2 {
    line-height: 22px;
    font-size: 16px;
    color: #a6a4d7;
    text-align: center;
  }

  .sc3-conbg {
    position: relative;
    width: 1160px;
    margin-left: -80px;
    margin-top: 35px;
    height: 36px;
    background: url("../images/sc3-contop.png") no-repeat 0 0;
    background-size: 100% 100%;

    .con-tips {
      position: absolute;
      right: -12px;
      top: 7px;
      width: 83px;
      height: 264px;
      background: url("../images/sc3-tipsbg.png") no-repeat 0 0;
      background-size: 100% 100%;

      p {
        line-height: 20px;
        width: 20px;
        margin: 0 auto;
        margin-top: 80px;
        font-size: 18px;
        color: #5f4eaf;
      }
    }
  }

  .sc3-card {
    width: 1020px;
    margin: 0 auto;

    .card-item {
      float: left;
      width: 235px;
      height: 445px;
      margin: 0 10px;
      background: url("../images/item-bg.png") no-repeat 0 0;
      background-size: 100% 100%;
      overflow: hidden;
      // animation: cardrotate infinite linear 3s;
      // -webkit-animation: cardrotate infinite linear 3s;

      .card-title {
        margin-top: 78px;
        margin-bottom: 25px;
        font-size: 22px;
        color: #6252b0;
        text-align: center;
      }

      ul {
        width: 212px;
        margin: 0 auto;
        overflow: hidden;

        li {
          float: left;
          width: 80px;
          text-align: center;
          margin: 0 13px 20px 13px;

          p {
            &:nth-child(1) {
              width: 76px;
              height: 76px;
              background: url("../images/sc3-iconbg.png") no-repeat 0 0;
              background-size: 100% 100%;
            }

            &:nth-child(2) {
              height: 12px;
              margin-top: 5px;
              font-size: 14px;
              color: #5649bb;
              line-height: 16px;
              // white-space: nowrap;
              // text-overflow: ellipsis;
              // overflow: hidden;
            }
          }

          .iconbg {
            position: relative;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 70px;
              height: 70px;
              margin-top: -35px;
              margin-left: -35px;
              border-radius: 50%;
              // position: absolute;
              // top: 50%;
              // left: 55%;
              // transform: translate(-50%, -50%);
              // width: 65px;
              // height: 65px;
              // border-radius: 50%;
            }
          }
        }
      }

      .card-btn {
        display: block;
        width: 184px;
        height: 47px;
        margin: 0 auto;
        margin-top: 10px;
        color: #f2954b;
        font-size: 20px;
        text-align: center;
        line-height: 47px;
        background: url("../images/sc2-btn-active.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }
  }

}

.sc4-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  width: 1000px;
  height: 890px;

  .sc4-title {
    display: block;
    width: 840px;
    height: 165px;
    margin: 0 auto;
  }

  .sc4-comment {
    width: 1000px;
    height: 519px;
    margin-top: 50px;
    background-color: #ffffff;
    overflow-y: auto;
  }
}

.side {
  width: 203px;
  height: 370px;
  position: fixed;
  right: 50px;
  top: 50%;
  margin-top: -125px;
  z-index: 10;

  .side-sc1-icon {
    position: absolute;
    top: -13px;
    right: -24px;
    width: 49px;
    height: 49px;
    background: url("../images/side-icon1.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .sidelist {
    position: relative;
    width: 203px;
    height: 370px;

    li {
      &:hover {
        margin-top: -10px;
        margin-right: -15px;
        width: 175px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        background: url("../images/side-active.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 3px;
      height: 343px;
      background: url("../images/side-line.png") no-repeat 0 0;
      background-size: 100% 100%;
    }

    &::before {
      position: absolute;
      top: 88px;
      right: -8px;
      content: '';
      width: 18px;
      height: 187px;
      background: url("../images/side-point.png") no-repeat 0 0;
      background-size: 100% 100%;
    }



    .side-sc1 {
      position: absolute;
      top: 0;
      right: 40px;

      a {
        font-size: 22px;
        color: #e0d8ff;
      }
    }

    .side-sc2 {
      position: absolute;
      top: 85px;
      right: 25px;

      a {
        font-size: 22px;
        color: #e0d8ff;
      }
    }

    .side-sc3 {
      position: absolute;
      top: 172px;
      right: 25px;

      a {
        font-size: 22px;
        color: #e0d8ff;
      }
    }

    .side-sc4 {
      position: absolute;
      top: 255px;
      right: 25px;

      a {
        font-size: 22px;
        color: #e0d8ff;
      }
    }

    .side-active {
      margin-top: -10px;
      margin-right: -15px;
      width: 175px;
      height: 46px;
      line-height: 46px;
      text-align: center;
      background: url("../images/side-active.png") no-repeat 0 0;
      background-size: 100% 100%;

      a {
        margin-left: 10px;
        color: #ffffff;
      }
    }
  }
}

.frame {
  position: relative;
  width: 520px;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
  padding: 0 60px 54px 60px;

  &::before {
    position: absolute;
    content: '';
    width: 640px;
    top: 0;
    left: 0;
    bottom: 79px;
    background: url("../images/frame1-top.png") no-repeat 0 0;
    background-size: 100% auto;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: '';
    width: 640px;
    height: 79px;
    left: 0;
    bottom: 0;
    background: url("../images/frame1-bom.png") no-repeat 0 0;
    background-size: 100% 100%;
    z-index: -1;
  }

  .mg1 {
    margin: 64px 0 43px 0;
  }

  .mg2 {
    margin: 90px 0 40px 0;
  }

  .frame-title {
    margin: 50px 0 10px 0;
    color: #4f3db6;
    font-weight: bold;
    font-size: 30px;
  }

  ul {
    overflow: hidden;

    li {
      margin: 10px 0;
      overflow: hidden;

      p {
        float: left;
        margin-top: 20px;
      }

      a {
        float: right;
      }
    }
  }

  .frame-btn {
    display: block;
    width: 168px;
    height: 47px;
    margin: 0 auto;
    margin-top: 10px;
    color: #f2954b;
    font-size: 20px;
    text-align: center;
    line-height: 47px;
    background: url("../images/sc2-btn-active.png") no-repeat 0 0;
    background-size: 100% 100%;
  }
}

.frame-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 62px;
  height: 63px;
}

.ta {
  text-align: center;
}

.frame-text {
  line-height: 30px;
  font-size: 22px;
  color: #4f3db6;
}

.mt {
  margin-top: 30px;
}

.frame2 {
  position: relative;
  width: 807px;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
  padding: 0 60px 54px 60px;

  &::before {
    position: absolute;
    content: '';
    width: 927px;
    top: 0;
    left: 0;
    bottom: 112px;
    background: url("../images/frame2-top.png") no-repeat 0 0;
    background-size: 100% auto;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: '';
    width: 927px;
    height: 112px;
    left: 0;
    bottom: 0;
    background: url("../images/frame2-bom.png") no-repeat 0 0;
    background-size: 100% 100%;
    z-index: -1;
  }

  .frame-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 62px;
    height: 63px;
  }

  .frame-title {
    margin: 50px 0 10px 0;
    color: #4f3db6;
    font-weight: bold;
    font-size: 30px;
  }

  .frame2-title {
    margin-top: 59px;
    text-align: center;

    a {
      position: relative;
      font-size: 30px;
      color: #4f3db6;
      font-weight: bold;

      &::after {
        content: '';
        position: absolute;
        left: -4rem;
        top: 50%;
        width: 51px;
        height: 17px;
        margin-top: -8px;
        background: url("../images/left.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      &::before {
        content: '';
        position: absolute;
        right: -4rem;
        top: 50%;
        width: 51px;
        height: 17px;
        margin-top: -8px;
        background: url("../images/right.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }
  }

  .frame2-text {
    width: 608px;
    margin: 30px auto 15px;
    font-size: 18px;
    color: #4f3db6;
  }

  .frame2-img {
    width: 608px;
    height: 186px;
    margin: 0 auto;
    border: 2px solid #4f3db6;
    border-radius: 10px;

    img {
      width: 608px;
      height: 186px;
    }
  }
}

.frame3 {
  position: relative;
  width: 580px;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
  padding: 0 60px 54px 60px;

  &::before {
    position: absolute;
    content: '';
    width: 700px;
    top: 0;
    left: 0;
    bottom: 112px;
    background: url("../images/frame2-top.png") no-repeat 0 0;
    background-size: 100% auto;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: '';
    width: 700px;
    height: 112px;
    left: 0;
    bottom: 0;
    background: url("../images/frame2-bom.png") no-repeat 0 0;
    background-size: 100% 100%;
    z-index: -1;
  }

  .frame-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 62px;
    height: 63px;
  }

  .frame-title {
    margin: 50px 0 10px 0;
    color: #4f3db6;
    font-weight: bold;
    font-size: 30px;
  }
}

.broMou {
  // background: url("../images/broMouBg.png") no-repeat;
  position: relative;
  width: 927px;
  margin: 0 auto;
  height: 602px;
  z-index: 0;
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    width: 927px;
    top: 0;
    left: 0;
    bottom: 112px;
    background: url("../images/frame2-top.png") no-repeat 0 0;
    background-size: 100% auto;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: '';
    width: 927px;
    height: 112px;
    left: 0;
    bottom: 0;
    background: url("../images/frame2-bom.png") no-repeat 0 0;
    background-size: 100% 100%;
    z-index: -1;
  }
}

.broMouTit {
  background: url("../images/broMouTit.png") no-repeat;
  width: 301px;
  height: 17px;
  margin: 56px auto 0px;

  p {
    // line-height: 44px;
    text-align: center;
    color: #4f3db6;
    font-size: 32px;
    font-weight: bold;
    transform: translateY(-10px);
    // margin-top: -50px;
  }

  // overflow: hidden;
}

.broMouTxt {
  line-height: 32px;
  margin: 35px auto 0px;
  color: #4f3db6;
  font-size: 18px;
  text-align: center;
  overflow: hidden;

  img {
    transform: translate(5px, 5px);
    width: 32px;
    height: 32px;
  }
}

.broMouTxt .openDialog {
  color: #fa1800;
  text-decoration: underline;
}

.broMoulist {
  width: 420px;
  height: 260px;
  margin: 17px auto 0px;
  clear: both;
  overflow: hidden;
}

.broMoulist li {
  background: #fbf3e5;
  width: 160px;
  height: 260px;
  margin: 0 25px;
  border-radius: 10px;
  float: left;
  text-align: center;
  overflow: hidden;
}

.broMoulist img {
  width: 79px;
  height: 75px;
  margin: 20px auto 0px;
  display: block;
  overflow: hidden;
}

.broMoulist p {
  height: 32px;
  line-height: 32px;
  margin: 30px auto 0px;
  color: #566566;
  font-size: 20px;
  overflow: hidden;
}

.broMoulist .openDialog {
  height: 26px;
  line-height: 26px;
  margin: 5px auto 0px;
  color: #fa1800;
  text-decoration: underline;
  display: block;
  font-size: 18px;
  overflow: hidden;
}

.broMoulist .broMouBtn {
  width: 115px;
  height: 38px;
  line-height: 9999;
  margin: 12px auto 0px;
  display: block;
  overflow: hidden;
}

.section-foot {
  width: 100%;
  position: relative;
  z-index: 100;
}

.footerArea {
  background: #000;
  line-height: 24px;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.footerArea a {
  color: #fff;
  margin: 0 5px;
}

.footerArea a:hover {
  color: #f60;
}

.broMoulist .broMouBtn1 {
  background: url("../images/broBtn1.png") no-repeat;
}

.broMoulist .broMouBtn2 {
  background: url("../images/broBtn2.png") no-repeat;
}

// 动画
.addzoom {
  animation: wholezoom 1.2s;
  -webkit-animation: wholezoom 1.2s;
}

.moveupdown {
  animation: moveupdown alternate infinite linear 1s;
  -webkit-animation: moveupdown alternate infinite linear 1s;
}

.addenlarge {
  animation: enlarge 0.5s;
  -webkit-animation: enlarge 0.5s;
}

@keyframes zoom {
  100% {
    transform: scale(0.9)
  }
}

@keyframes enlarge {
  100% {
    transform: scale(1.1)
  }
}


@keyframes down {
  0% {
    top: 92%;
  }

  100% {
    top: 93%;
  }
}

@keyframes moveupdown {
  0% {}

  100% {
    transform: translateY(-20px);
  }
}



@keyframes wholezoom {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }
}


@keyframes cardrotate {

  0%,
  50% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(-0.5deg);
  }

  75% {
    transform: rotateZ(0.5deg);
  }
}
