body {
  background-color: #333333;
}

.section {
  position: relative;
}

.fullWrap {
  width: 100%;
  position: relative;
}

.fullWrap .section {
  position: relative;
  overflow: hidden;
}

.section:before {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
  background-size: cover;
  background-position: center 0;
  content: '';
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
  object-fit: cover;
}

.section11:before {
  background-color: #ffffff;
}

.sidebar {
  position: absolute;
  top: 1.75rem;
  right: 0;
  width: 1.47rem;
  height: 5.33rem;
  background: url("../images/sidebar.png") no-repeat 0 0;
  background-size: 100% 100%;
  z-index: 99;
  transition: all 0.5s;
}

.sidebar .side-right {
  position: absolute;
  top: 0.10rem;
  left: -0.53rem;
  width: 0.53rem;
  height: 0.59rem;
  background: url("../images/sideright.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.sidebar .side-left {
  position: absolute;
  top: 0.10rem;
  left: -0.53rem;
  width: 0.53rem;
  height: 0.59rem;
  background: url("../images/sideleft.png") no-repeat 0 0;
  background-size: 100% 100%;
  display: none;
}

.sidebar .sidebar-title {
  width: 100%;
  margin: 0.31rem 0;
  font-size: 0.18rem;
  color: #ffffff;
  text-align: center;
}

.sidebar .sidebar-code {
  width: 1.26rem;
  height: 1.56rem;
  margin: 0 auto;
  transform: translateX(0.02rem);
  background: url("../images/sidecodebg.png") no-repeat 0 0;
  background-size: 100% 100%;
  text-align: center;
}

.sidebar .sidebar-code img {
  display: block;
  width: 1.26rem;
  height: 1.26rem;
  border-radius: 0.05rem;
}

.sidebar .sidebar-code span {
  display: block;
  font-size: 0.16rem;
  color: #666666;
}

.sidebar .sidebar-icon {
  width: 1.26rem;
  margin: 0 auto;
  text-align: center;
  border-bottom: 0.01rem solid #766d76;
  padding-bottom: 0.12rem;
  margin-top: 0.22rem;
}

.sidebar .sidebar-icon div {
  float: left;
  margin-left: 0.13rem;
}

.sidebar .sidebar-icon div img {
  display: block;
  width: 0.23rem;
  height: 0.23rem;
}

.sidebar .sidebar-icon a {
  margin-left: -0.20rem;
  line-height: 0.20rem;
  display: block;
  font-size: 0.16rem;
  color: #ffffff;
}

.sidebar .sideicon5-end {
  border: none;
}

.screen-video {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.screen-video .video-mp4 {
  position: relative;
  width: 9.00rem;
  height: 5.00rem;
  margin-top: 10%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.screen-video .video-mp4 video {
  width: 9.00rem;
  height: 5.00rem;
}

.screen-video .video-mp4 .video-mp4-close {
  position: absolute;
  top: 0;
  right: -0.50rem;
  width: 0.48rem;
  height: 0.48rem;
  cursor: pointer;
}

.screen-video-unshow {
  display: none;
}

.section1 .logo {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 1.10rem;
  height: 1.31rem;
}

.section1 .game-all {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.36rem;
  height: 0.55rem;
  line-height: 0.55rem;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.6);
  border-radius: 0 0 0 0.2rem;
  z-index: 101;
}

.section1 .game-all .game-all-img {
  float: left;
  width: 0.9rem;
  height: 0.3rem;
  margin-top: 0.09rem;
  margin-left: 0.55rem;
}

.section1 .game-all .game-all-line {
  float: left;
  width: 0.01rem;
  height: 0.18rem;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 0.16rem;
  margin-left: 0.2rem;
}

.section1 .game-all .game-all-text {
  float: left;
  font-size: 0.16rem;
  color: #ffffff;
  line-height: 0.5rem;
  margin-left: 0.14rem;
}

.section1 .game-all .game-all-icon {
  cursor: pointer;
  float: left;
  width: 0.27rem;
  height: 0.21rem;
  margin-top: 0.15rem;
  margin-left: 0.19rem;
}

.section1 .game-all .game-all-icon-box {
  position: relative;
}

.section1 .game-all-box {
  position: absolute;
  top: -7.33rem;
  right: 0;
  width: 3.36rem;
  padding-bottom: 0.2rem;
  background-color: rgba(20, 20, 20, 0.7);
  z-index: 9;
  transition: all 0.05s;
}

.section1 .game-all-box ul {
  float: left;
  width: 1.28rem;
  margin-top: 0.78rem;
  margin-left: 0.30rem;
  overflow: hidden;
  text-align: center;
}

.section1 .game-all-box ul li {
  margin: 0.16rem 0;
}

.section1 .game-all-box ul li a {
  white-space: nowrap;
  display: block;
  font-size: 0.14rem;
  color: #fdfdfd;
}

.section1 .game-all-box ul li a:hover {
  text-decoration: underline;
  color: #ff8004;
}

.section1 .game-all-box ul:nth-child(2) {
  margin-left: 0.1rem;
}

.section1 .game-all-box-show {
  top: 0;
}

.section1 .screen1-all {
  position: absolute;
  left: 50%;
  bottom: 1.85rem;
  transform: translate(-50%);
}

.section1 .screen1-all .screen1-con {
  width: 6.9rem;
  height: 1.38rem;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99110e10, endColorstr=#99110e10);
  overflow: hidden;
  margin-bottom: 0.18rem;
}

.section1 .screen1-all .screen1-con .video {
  position: relative;
  float: left;
  margin: 0.12rem 0.12rem;
  margin-left: 0.20rem;
  width: 1.97rem;
  height: 1.12rem;
  background: url("../images/videobg.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section1 .screen1-all .screen1-con .video .video-play {
  width: 1.03rem;
  height: 1.03rem;
  position: absolute;
  top: 5%;
  left: 22%;
  z-index: 2;
  cursor: pointer;
}

.section1 .screen1-all .screen1-con .video .video-shadow {
  position: absolute;
  width: 1.97rem;
  height: 1.12rem;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 0.10rem;
  border: 0.01rem solid #f7f6f6;
}

.section1 .screen1-all .screen1-con .game-video {
  float: left;
  width: 2.28rem;
  height: 1.28rem;
  margin: 0.12rem 0.10rem;
  margin-left: 0.20rem;
}

.section1 .screen1-all .screen1-con .game-video .video-js {
  width: 2.28rem;
  height: 1.28rem;
  border-radius: 0.10rem;
}

.section1 .screen1-all .screen1-con .game-video .video-js .vjs-tech {
  border-radius: 0.10rem;
}

.section1 .screen1-all .screen1-con .game-video .video-js .vjs-poster {
  border-radius: 0.10rem;
}

.section1 .screen1-all .screen1-con .game-video .video-js .vjs-big-play-button {
  width: 1.27rem;
  height: 1.27rem;
  border: none;
  background-color: rgba(43, 51, 63, 0);
  top: 10%;
  left: 28%;
}

.section1 .screen1-all .screen1-con .game-video .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  content: '';
  background: url("../images/videoplay.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section1 .screen1-all .screen1-con .screen1-code {
  float: left;
  width: 1.11rem;
  height: 1.11rem;
  margin: 0.12rem 0;
  background: url("../images/code.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section1 .screen1-all .screen1-con .screen1-reserve {
  float: left;
  width: 2.20rem;
  height: 1.28rem;
  margin: 0.12rem 0.10rem;
}

.section1 .screen1-all .screen1-con .screen1-reserve .reserve-android {
  display: block;
  width: 2.19rem;
  height: 0.51rem;
  background: url("../images/and-make2.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section1 .screen1-all .screen1-con .screen1-reserve .reserve-iphone {
  display: block;
  width: 2.19rem;
  height: 0.51rem;
  margin-top: 0.08rem;
  background: url("../images/app-make.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section1 .screen1-all .screen1-con .screen1-tips {
  float: left;
  width: 0.91rem;
  height: 1.11rem;
  margin: 0.12rem 0;
}

.section1 .screen1-all .shadow {
  width: 2.99rem;
  height: 0.31rem;
  margin: 0 auto;
  background: url("../images/shadowbg.png") no-repeat 0 0;
  background-size: 100% 100%;
  text-align: center;
  line-height: 0.31rem;
}

.section1 .screen1-all .shadow span {
  float: left;
  color: #ffffff;
  font-size: 0.18rem;
}

.section1 .screen1-all .shadow span:nth-child(1) {
  margin-left: 0.5rem;
}

.section1 .screen1-all .shadow span:nth-child(2) {
  color: #ffb934;
}

.section1 .screen1-all .slid {
  width: 1.35rem;
  height: 0.26rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 0.28rem;
}

.section1 .screen1-all .slid .slid-text {
  white-space: nowrap;
  font-size: 0.16rem;
  color: #333333;
}

.section1 .screen1-all .slid .downicon {
  width: 0.38rem;
  height: 0.23rem;
  margin: 0 auto;
  margin-top: 0.12rem;
  background: url("../images/downicon.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section1 .screen1-all .screen1-con2 {
  width: 9.15rem;
  height: 1.38rem;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99110e10, endColorstr=#99110e10);
  overflow: hidden;
  margin-bottom: 0.18rem;
}

.section1 .screen1-all .screen1-con2 .video {
  position: relative;
  float: left;
  margin: 0.12rem 0.12rem;
  margin-left: 0.20rem;
  width: 1.97rem;
  height: 1.12rem;
  background: url("../images/videobg.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section1 .screen1-all .screen1-con2 .video .video-play {
  width: 1.03rem;
  height: 1.03rem;
  position: absolute;
  top: 5%;
  left: 22%;
  z-index: 2;
  cursor: pointer;
}

.section1 .screen1-all .screen1-con2 .video .video-shadow {
  position: absolute;
  width: 1.97rem;
  height: 1.12rem;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 0.10rem;
  border: 0.01rem solid #f7f6f6;
}

.section1 .screen1-all .screen1-con2 .game-video {
  float: left;
  width: 2.28rem;
  height: 1.28rem;
  margin: 0.12rem 0.10rem;
  margin-left: 0.20rem;
}

.section1 .screen1-all .screen1-con2 .game-video .video-js {
  width: 2.28rem;
  height: 1.28rem;
  border-radius: 0.10rem;
}

.section1 .screen1-all .screen1-con2 .game-video .video-js .vjs-tech {
  border-radius: 0.10rem;
}

.section1 .screen1-all .screen1-con2 .game-video .video-js .vjs-poster {
  border-radius: 0.10rem;
}

.section1 .screen1-all .screen1-con2 .game-video .video-js .vjs-big-play-button {
  width: 1.27rem;
  height: 1.27rem;
  border: none;
  background-color: rgba(43, 51, 63, 0);
  top: 10%;
  left: 28%;
}

.section1 .screen1-all .screen1-con2 .game-video .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  content: '';
  background: url("../images/videoplay.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section1 .screen1-all .screen1-con2 .screen1-code {
  float: left;
  width: 1.11rem;
  height: 1.11rem;
  margin: 0.12rem 0;
  background: url("../images/code.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section1 .screen1-all .screen1-con2 .screen1-reserve {
  float: left;
  width: 2.20rem;
  height: 1.28rem;
  margin: 0.12rem 0;
}

.section1 .screen1-all .screen1-con2 .screen1-reserve .reserve-android {
  display: block;
  width: 2.19rem;
  height: 0.51rem;
  background: url("../images/and-make.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section1 .screen1-all .screen1-con2 .screen1-reserve .reserve-iphone {
  display: block;
  width: 2.19rem;
  height: 0.51rem;
  margin-top: 0.08rem;
  background: url("../images/app-make.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section1 .screen1-all .screen1-con2 .screen1-downmake {
  float: left;
  width: 2.19rem;
  height: 1.11rem;
  margin: 0.12rem 0.1rem;
  background: url("../images/down.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section1 .screen1-all .screen1-con2 .screen1-tips {
  float: left;
  width: 0.86rem;
  height: 1.11rem;
  margin: 0.12rem 0;
  margin-left: 0.09rem;
}

.title-txt {
  font-size: 0.5rem;
  color: #fd942e;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to bottom, rgba(253, 179, 109, 0.7), rgba(253, 245, 237, 0.7));
  -webkit-background-clip: text;
  color: transparent;
}

.title {
  position: relative;
  font-size: 0.5rem;
  color: #fd942e;
  font-weight: bold;
  text-align: center;
  margin-top: -0.24rem;
}

.title::after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 4.13rem;
  height: 0.13rem;
  margin-top: -0.06rem;
  background: url("../images/t-left.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.title::before {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  width: 4.13rem;
  height: 0.13rem;
  margin-top: -0.06rem;
  background: url("../images/t-right.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.title-txt2 {
  font-size: 1.01rem;
  color: #fd942e;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to bottom, rgba(253, 179, 109, 0.7), rgba(253, 245, 237, 0.7));
  -webkit-background-clip: text;
  color: transparent;
}

.title2 {
  position: relative;
  font-size: 0.5rem;
  color: #fd942e;
  font-weight: bold;
  text-align: center;
  margin-top: -0.4rem;
}

.title2::after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 3.33rem;
  height: 0.16rem;
  margin-top: -0.06rem;
  background: url("../images/t-left2.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.title2::before {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  width: 3.33rem;
  height: 0.16rem;
  margin-top: -0.06rem;
  background: url("../images/t-right2.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section2 {
  position: relative;
}

.section2 .screen2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section2 .screen2-title {
  position: relative;
  width: 10.70rem;
  height: 0.54rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.section2 .screen2-game-swiper {
  width: 12.00rem;
  height: 5.20rem;
  margin: 0 auto;
}

.section2 .screen2-game-swiper .swiper-game-img {
  width: 7.40rem;
  height: 4.30rem;
  float: left;
}

.section2 .screen2-game-swiper .swiper-game-img img {
  width: 100%;
  height: 100%;
}

.section2 .screen2-game-swiper .swiper-content {
  float: left;
  width: 3.20rem;
  height: 4.30rem;
  border-radius: 0 0.15rem 0.15rem 0;
  background-color: rgba(250, 250, 250, 0.8);
}

.section2 .screen2-game-swiper .swiper-content .swiper-content-title {
  margin-left: 0.18rem;
  margin-top: 0.40rem;
  width: 2.68rem;
  height: 0.46rem;
  position: relative;
}

.section2 .screen2-game-swiper .swiper-content .swiper-content-title span {
  float: left;
  margin-left: 0.10rem;
  font-size: 0.24rem;
  color: #333333;
  font-weight: bold;
}

.section2 .screen2-game-swiper .swiper-content .swiper-content-title img {
  float: left;
  margin-top: 0.05rem;
  width: 2.63rem;
  height: 0.08rem;
}

.section2 .screen2-game-swiper .swiper-content .swiper-content-text {
  width: 2.74rem;
  height: 3.10rem;
  margin-left: 0.26rem;
  margin-top: 0.10rem;
  line-height: 0.28rem;
  font-size: 0.18rem;
}

.section2 .screen2-game-swiper .swiper-content .swiper-content-text span {
  display: block;
  width: 2.74rem;
  height: 2.80rem;
  line-height: 0.28rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.section2 .screen2-game-swiper .swiper-content .swiper-content-text p a {
  display: block;
  text-align: end;
  color: #fd942e;
  text-decoration: underline;
}

.section2 .screen2-game-swiper .swiper-slide {
  width: 12rem;
  height: 5.20rem;
}

.section2 .screen2-game-swiper .swiper-slide .swiper-slide-div {
  width: 10.60rem;
  margin: 0 auto;
}

.section2 .screen2-game-swiper .swiper-button-next {
  background-image: url("../images/two-right.png");
  background-size: 100% 100%;
}

.section2 .screen2-game-swiper .swiper-button-prev {
  background-image: url("../images/two-left.png");
  background-size: 100% 100%;
}

.section2 .screen2-game-swiper .swiper-button-next,
.section2 .screen2-game-swiper .swiper-button-prev {
  width: 0.56rem;
  height: 0.61rem;
  margin-top: -0.60rem;
}

.section2 .screen2-game-swiper .swiper-pagination-bullet {
  width: 0.13rem;
  height: 0.13rem;
  background-color: #ff8004;
  margin-right: 0.20rem;
}

.section2 .screen2-game-swiper .swiper-pagination-bullet-active {
  width: 0.28rem;
  height: 0.13rem;
  border-radius: 0.20rem;
  background-color: #fe9834;
}

.section3 {
  position: relative;
}

.section3 .screen3-title {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  width: 10.70rem;
  height: 0.54rem;
  margin: 0 auto;
}

.section3 .screen3-content {
  width: 12.00rem;
  height: 1.00rem;
  position: absolute;
  left: 50%;
  bottom: 65%;
  transform: translate(-50%);
}

.section3 .screen3-content .whole-show {
  display: none;
}

.section3 .screen3-content .con-name em {
  float: left;
  display: block;
  width: 0.07rem;
  height: 0.40rem;
  background-color: #ff8004;
}

.section3 .screen3-content .con-name span {
  display: block;
  margin-left: 0.20rem;
  font-size: 0.40rem;
  font-weight: bold;
  line-height: 0.38rem;
}

.section3 .screen3-content .con-mp3 {
  margin-top: 0.05rem;
  margin-left: 0.15rem;
}

.section3 .screen3-content .con-mp3 span {
  display: block;
  float: left;
  margin-top: 0.20rem;
  transform: translateY(-50%);
  margin-bottom: 0.20rem;
  font-size: 0.18rem;
  color: #333333;
}

.section3 .screen3-content .con-mp3 img {
  width: 0.39rem;
  height: 0.39rem;
}

.section3 .screen3-content .con-text {
  margin-top: 0.17rem;
  width: 5.76rem;
  height: 2.76rem;
  border-radius: 0.05rem;
  background-color: rgba(250, 250, 250, 0.8);
  padding: 0.20rem 0.20rem 0.1rem 0.20rem;
  overflow-y: auto;
  transform: translate(-1.5rem);
}

.section3 .screen3-content .con-text::-webkit-scrollbar {
  display: none;
}

.section3 .screen3-content .con-text span {
  display: block;
  font-size: 0.18rem;
  line-height: 0.28rem;
  color: #333333;
  overflow: hidden;
}

.section3 .screen3-content .con-rw {
  position: absolute;
  top: 0;
  right: 0;
  width: 5.12rem;
  height: 6.39rem;
}

.section3 .screen3-content .con-rw img {
  width: 5.12rem;
  height: 6.39rem;
}

.section3 .screen3-box {
  width: 100%;
  height: 1.80rem;
  position: absolute;
  margin-left: -1.08rem;
  margin-top: 0.40rem;
}

.section3 .screen3-box::after {
  content: '';
  width: 19.20rem;
  height: 1.80rem;
  position: absolute;
  top: 0;
  left: -21%;
  background-color: rgba(250, 250, 250, 0.4);
}

.section3 .screen3-box .screen3-game-swiper {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 999;
  width: 10.00rem;
  height: 1.40rem;
  transform: translateY(-50%);
}

.section3 .screen3-box .screen3-game-swiper .swiper-game-link2 {
  width: 8.00rem;
  height: 1.40rem;
}

.section3 .screen3-box .screen3-game-swiper .swiper-game-link2 .swiper-slide {
  cursor: pointer;
  width: 1.04rem;
  height: 1.40rem;
  margin: 0 0.14rem;
  text-align: center;
  background-color: #ffffff;
}

.section3 .screen3-box .screen3-game-swiper .swiper-game-link2 .swiper-slide img {
  width: 1.06rem;
  height: 1.06rem;
}

.section3 .screen3-box .screen3-game-swiper .swiper-game-link2 .swiper-slide span {
  display: block;
  font-size: 0.16rem;
}

.section3 .screen3-box .screen3-game-swiper .swiper-game-link2 .swiper-slide-x {
  width: 1.02rem;
  height: 1.36rem;
  text-align: center;
  background-color: #ff8004;
  padding: 0.02rem;
}

.section3 .screen3-box .screen3-game-swiper .swiper-game-link2 .swiper-slide-x img {
  width: 1.02rem;
  height: 1.01rem;
}

.section3 .screen3-box .screen3-game-swiper .swiper-game-link2 .swiper-slide-x span {
  color: #ffffff;
}

.section3 .screen3-box .screen3-game-swiper .swiper-button-next2 {
  background-image: url("../images/two-right.png");
  background-size: 100% 100%;
}

.section3 .screen3-box .screen3-game-swiper .swiper-button-prev2 {
  background-image: url("../images/two-left.png");
  background-size: 100% 100%;
}

.section3 .screen3-box .screen3-game-swiper .swiper-button-disabled {
  opacity: 0.5;
}

.section3 .screen3-box .screen3-game-swiper .swiper-button-next2 {
  position: absolute;
  cursor: pointer;
  width: 0.56rem;
  height: 0.61rem;
  right: 0.20rem;
  top: 0.40rem;
}

.section3 .screen3-box .screen3-game-swiper .swiper-button-prev2 {
  cursor: pointer;
  width: 0.56rem;
  height: 0.61rem;
  position: absolute;
  top: 0.40rem;
  left: 0.25rem;
}

.section4 {
  position: relative;
}

.section4 .screen4 {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
}

.section4 .screen4-title {
  width: 9.88rem;
  height: 1.13rem;
  margin: 0 auto;
}

.section4 .screen4-content {
  width: 10.80rem;
  height: 6.00rem;
  margin: 0 auto;
  margin-top: 0.50rem;
  overflow: hidden;
}

.section4 .screen4-content .con-progress {
  position: relative;
  width: 8.20rem;
  height: 0.12rem;
  margin: 0 auto;
  margin-top: 0.50rem;
  background-color: #dfe1e1;
}

.section4 .screen4-content .con-progress .con-progress-success {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.12rem;
  background-color: #fd942e;
}

.section4 .screen4-content .con-progress .con-icon {
  position: absolute;
  top: -0.45rem;
  left: -0.46rem;
  width: 1.00rem;
}

.section4 .screen4-content .con-progress .con-icon2 {
  position: absolute;
  top: -0.45rem;
  left: 2.20rem;
  width: 1.00rem;
}

.section4 .screen4-content .con-progress .con-icon3 {
  position: absolute;
  top: -0.45rem;
  left: 4.80rem;
  width: 1.00rem;
}

.section4 .screen4-content .con-progress .con-icon4 {
  position: absolute;
  top: -0.26rem;
  left: 7.65rem;
  width: 1.00rem;
}

.section4 .screen4-content .con-progress .con-icon-title {
  font-size: 0.18rem;
  text-align: center;
  color: #ff9933;
}

.section4 .screen4-content .con-progress .con-icon-img {
  width: 0.30rem;
  height: 0.44rem;
  margin: 0.10rem auto;
  background: url("../images/four-icon.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section4 .screen4-content .con-progress .con-icon-text {
  white-space: nowrap;
  width: 0.96rem;
  height: 0.27rem;
  margin-left: 0.05rem;
  line-height: 0.32rem;
  font-size: 0.14rem;
  text-align: center;
  color: #fd942e;
  background: url("../images/four-jx.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section4 .screen4-content .con-progress .con-icon-title-not {
  white-space: nowrap;
  text-align: center;
}

.section4 .screen4-content .con-progress .con-icon-img-not {
  width: 0.30rem;
  height: 0.44rem;
  margin: 0.10rem auto;
  background: url("../images/four-icon2.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section4 .screen4-content .con-progress .con-icon-text-not {
  width: 0.96rem;
  height: 0.27rem;
  margin-left: 0.05rem;
  line-height: 0.32rem;
  font-size: 0.14rem;
  text-align: center;
  color: #ffffff;
  background: url("../images/four-not.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section4 .screen4-content .con-prize {
  width: 11.00rem;
  height: 4.50rem;
  margin: 0 auto;
  margin-top: 0.75rem;
}

.section4 .screen4-content .con-prize .prize-item {
  width: 2.40rem;
  height: 4.40rem;
  background-color: #ffffff;
  float: left;
  margin-right: 0.35rem;
}

.section4 .screen4-content .con-prize .prize-item .item-num {
  width: 100%;
  height: 1.10rem;
  line-height: 1.10rem;
  text-align: center;
  border-bottom: 0.01rem solid #e7e7e9;
}

.section4 .screen4-content .con-prize .prize-item .item-num span:nth-child(1) {
  font-weight: bold;
  font-size: 0.26rem;
  color: #333333;
}

.section4 .screen4-content .con-prize .prize-item .item-num span:nth-child(2) {
  font-weight: bold;
  font-size: 0.20rem;
  line-height: 0.50rem;
  color: #333333;
  margin-left: 0.05rem;
}

.section4 .screen4-content .con-prize .prize-item .item-con {
  width: 100%;
  padding: 0.30rem 0;
  text-align: center;
  position: relative;
}

.section4 .screen4-content .con-prize .prize-item .item-con .prize-get {
  position: absolute;
  top: 0.30rem;
  left: 0.14rem;
  width: 0.90rem;
  height: 0.90rem;
}

.section4 .screen4-content .con-prize .prize-item .item-con .prize-get img {
  width: 0.86rem;
  height: 0.87rem;
}

.section4 .screen4-content .con-prize .prize-item .item-con div:nth-child(2) {
  padding: 0.21rem 0;
}

.section4 .screen4-content .con-prize .prize-item .item-con div:nth-child(2) span {
  display: block;
  font-size: 0.18rem;
  color: #333333;
  font-weight: bold;
}

.section4 .screen4-content .con-prize .prize-item .item-con div:nth-child(3) span {
  display: block;
  font-size: 0.14rem;
  color: #666666;
}

.section4 .screen4-content .con-prize .prize-item .item-con img {
  width: 2.12rem;
  height: 1.94rem;
}

.section5 {
  position: relative;
}

.section5 .screen5 {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
}

.section5 .screen5 .screen5-title {
  width: 9.88rem;
  height: 1.13rem;
  margin: 0 auto;
}

.section5 .screen5 .screen5-content {
  width: 10.80rem;
  height: 4.35rem;
  margin: 1.10rem auto 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.section5 .screen5 .screen5-content .make-title {
  width: 100%;
  height: 1.05rem;
  line-height: 1.05rem;
  text-align: center;
}

.section5 .screen5 .screen5-content .make-title span {
  display: block;
  font-size: 0.24rem;
  font-weight: bold;
  color: #333333;
}

.section5 .screen5 .screen5-content .make-prize {
  width: 100%;
  height: 2.68rem;
}

.section5 .screen5 .screen5-content .make-prize .make-prize-item {
  text-align: center;
  float: left;
  margin-left: 0.30rem;
}

.section5 .screen5 .screen5-content .make-prize .make-prize-item img {
  width: 1.80rem;
  height: 2.15rem;
}

.section5 .screen5 .screen5-content .make-prize .make-prize-item span {
  display: block;
  margin-top: 0.2rem;
  padding-bottom: 0.02rem;
  font-size: 0.18rem;
  color: #333333;
}

.section5 .screen5 .make-btn {
  width: 2.06rem;
  height: 0.56rem;
  margin: 0.50rem auto 0 auto;
  text-align: center;
  line-height: 0.56rem;
  background-color: #db573d;
}

.section5 .screen5 .make-btn a {
  display: block;
  font-size: 0.24rem;
  color: #ffffff;
  font-weight: bold;
}

.section6 {
  position: relative;
}

.section6 .screen6 {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translate(-50%);
}

.section6 .screen6-title {
  width: 10.70rem;
  height: 0.54rem;
  margin: 0 auto;
}

.section6 .plot-swiper {
  width: 11.50rem;
  height: 6.50rem;
  margin: 0.91rem auto 0 auto;
}

.section6 .plot-swiper .swiper-plot-img {
  display: block;
  width: 9.03rem;
  height: 5.08rem;
}

.section6 .plot-swiper .swiper-plot-img img {
  width: 100%;
  height: 100%;
}

.section6 .plot-swiper .swiper-slide {
  width: 9.03rem;
  height: 6.00rem;
  line-height: 6.0rem;
}

.section6 .plot-swiper .swiper-slide .swiper-slide-shadow-left {
  height: 5.08rem;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.8)), to(transparent));
}

.section6 .plot-swiper .swiper-slide .swiper-slide-shadow-right {
  height: 5.08rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(transparent));
}

.section6 .plot-swiper .swiper-button-next {
  background-image: url("../images/six-right.png");
  background-size: 100% 100%;
}

.section6 .plot-swiper .swiper-button-prev {
  background-image: url("../images/six-left.png");
  background-size: 100% 100%;
}

.section6 .plot-swiper .swiper-button-next {
  width: 0.56rem;
  height: 0.61rem;
  margin-top: -0.50rem;
  margin-right: 0.2rem;
}

.section6 .plot-swiper .swiper-button-prev {
  width: 0.56rem;
  height: 0.61rem;
  margin-top: -0.50rem;
  margin-left: 0.2rem;
}

.section6 .plot-swiper .swiper-pagination-bullet {
  width: 0.13rem;
  height: 0.13rem;
  background-color: #ff8004;
  margin-right: 0.20rem;
}

.section6 .plot-swiper .swiper-pagination-bullet-active {
  width: 0.28rem;
  height: 0.13rem;
  border-radius: 0.20rem;
  background-color: #fe9834;
}

.section7 {
  position: relative;
}

.section7 .screen7 {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translate(-50%);
}

.section7 .screen7-title {
  width: 10.70rem;
  height: 0.54rem;
  margin: 0 auto;
}

.section7 .screen7-content {
  width: 10.80rem;
  height: 6.00rem;
  margin: 0.50rem auto 0 auto;
}

.section7 .screen7-content .audio-title {
  position: relative;
  width: 100%;
  border-bottom: 0.02rem solid #e3eaed;
  text-align: center;
  line-height: 0.50rem;
}

.section7 .screen7-content .audio-title a {
  font-size: 0.24rem;
  color: #333333;
  margin: 0 0.25rem;
}

.section7 .screen7-content .audio-title .title7-active {
  color: #fd942e;
  font-weight: bold;
  border-bottom: 0.04rem solid #fd942e;
  padding-bottom: 0.07rem;
}

.section7 .screen7-content .audio-title .title7-more {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
}

.section7 .screen7-content .audio-title .title7-more a {
  float: left;
  margin-top: -0.04rem;
  margin-right: 0.02rem;
  font-size: 0.16rem;
  color: #999999;
}

.section7 .screen7-content .audio-title .title7-more img {
  float: left;
  margin-top: 0.1rem;
  width: 0.12rem;
  height: 0.20rem;
}

.section7 .screen7-content .audio-content {
  width: 100%;
  height: 5.30rem;
  margin-top: 0.25rem;
}

.section7 .screen7-content .audio-content .audio-content-item {
  cursor: pointer;
  position: relative;
  float: left;
  width: 3.44rem;
  text-align: center;
  margin-bottom: 0.20rem;
  margin-left: 0.1rem;
  overflow: hidden;
  border: 0.01rem solid transparent;
}

.section7 .screen7-content .audio-content .audio-content-item:hover {
  position: relative;
  border: 0.01rem solid #ff9933;
}

.section7 .screen7-content .audio-content .audio-content-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.94rem;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.4);
}

.section7 .screen7-content .audio-content .audio-content-item .audio-img {
  position: relative;
  width: 100%;
  height: 1.94rem;
}

.section7 .screen7-content .audio-content .audio-content-item .audio-play {
  display: none;
  position: absolute;
  top: 0.70rem;
  left: 50%;
  transform: translate(-50%);
  width: 0.61rem;
  height: 0.61rem;
  z-index: 99;
}

.section7 .screen7-content .audio-content .audio-content-item div {
  width: 100%;
  height: 0.8rem;
  line-height: 0.76rem;
  margin-top: -0.2rem;
  font-size: 0.16rem;
  color: #666666;
  background-color: #ffffff;
}

.section7 .screen7-content .audio-unshow {
  display: none;
}

.section7 .screen7-frame4-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.section7 .screen7-frame4 {
  margin-top: 7%;
}

.section8 {
  position: relative;
}

.section8 .screen8 {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translate(-50%);
}

.section8 .screen8-title {
  width: 10.70rem;
  height: 0.54rem;
  margin: 0 auto;
}

.section8 .screen8-audio-swiper {
  width: 11.80rem;
  height: 6.50rem;
  margin-top: 0.80rem;
}

.section8 .screen8-audio-swiper .swiper-slide {
  width: 12.00rem;
  height: 6.20rem;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio {
  width: 10.00rem;
  height: 4.80rem;
  margin: 0 auto;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-Violation {
  width: 100%;
  height: 2.40rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.02rem solid #ffffff;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-Violation .Violation-img {
  float: left;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-Violation .Violation-img img {
  width: 4.74rem;
  height: 2.23rem;
  margin-left: 0.09rem;
  margin-top: 0.09rem;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-Violation .Violation {
  float: left;
  width: 4.84rem;
  margin-top: 0.40rem;
  margin-left: 0.20rem;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-Violation .Violation .Violation-top {
  margin-bottom: 0.20rem;
  padding-bottom: 0.15rem;
  border-bottom: 0.01rem solid #e4e5e5;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-Violation .Violation .Violation-top a {
  float: left;
  display: block;
  width: 0.04rem;
  height: 0.23rem;
  background-color: #fd942e;
  margin-right: 0.10rem;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-Violation .Violation .Violation-top span {
  display: block;
  font-size: 0.24rem;
  color: #333333;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-Violation .Violation div:nth-child(2) {
  height: 1.3rem;
  line-height: 0.25rem;
  font-size: 0.16rem;
  color: #666666;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-Violation .Violation div:nth-child(2) a {
  display: block;
  text-align: end;
  color: #fd942e;
  margin-top: 0.2rem;
  margin-right: 0.1rem;
  text-decoration: underline;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-rwdetail {
  width: 10rem;
  background-color: rgba(255, 255, 255, 0.6);
  height: 2.9rem;
  margin: 0 auto;
  margin-top: 0.20rem;
  border: 0.02rem solid #ffffff;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-rwdetail .slide-rwdetail-item {
  float: left;
  width: 4.74rem;
  text-align: center;
  margin-left: 0.10rem;
  margin-top: 0.09rem;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-rwdetail .slide-rwdetail-item:nth-child(2) {
  margin-left: 0.40rem;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-rwdetail .slide-rwdetail-item img {
  width: 100%;
  height: 2.23rem;
}

.section8 .screen8-audio-swiper .swiper-slide .slide-audio .slide-rwdetail .slide-rwdetail-item span {
  display: block;
  margin-top: 0.1rem;
  font-size: 0.20rem;
  color: #333333;
}

.section8 .screen8-audio-swiper .swiper-button-next {
  background-image: url("../images/two-right.png");
  background-size: 100% 100%;
}

.section8 .screen8-audio-swiper .swiper-button-prev {
  background-image: url("../images/two-left.png");
  background-size: 100% 100%;
}

.section8 .screen8-audio-swiper .swiper-button-next {
  width: 0.56rem;
  height: 0.61rem;
  margin-top: -0.60rem;
  right: 0;
}

.section8 .screen8-audio-swiper .swiper-button-prev {
  width: 0.56rem;
  height: 0.61rem;
  margin-top: -0.60rem;
}

.section8 .screen8-audio-swiper .swiper-pagination-bullet {
  width: 0.13rem;
  height: 0.13rem;
  background-color: #ff8004;
  margin-right: 0.20rem;
}

.section8 .screen8-audio-swiper .swiper-pagination-bullet-active {
  width: 0.28rem;
  height: 0.13rem;
  border-radius: 0.20rem;
  background-color: #fe9834;
}

.section9 {
  position: relative;
}

.section9 .screen9 {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translate(-50%);
}

.section9 .screen9-title {
  width: 10.70rem;
  height: 0.54rem;
  margin: 0 auto;
}

.section9 .plot2-swiper {
  width: 10.52rem;
  height: 6.20rem;
  margin: 0.91rem auto 0 auto;
}

.section9 .plot2-swiper .swiper-plot2-img {
  display: block;
  width: 3.26rem;
  height: 5.80rem;
}

.section9 .plot2-swiper .swiper-plot2-img img {
  width: 100%;
  height: 100%;
}

.section9 .plot2-swiper .swiper-slide {
  width: 3.26rem;
  height: 6.30rem;
  line-height: 6.48rem;
}

.section9 .plot2-swiper .swiper-slide .swiper-slide-shadow-left {
  height: 5.78rem;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.5)));
}

.section9 .plot2-swiper .swiper-slide .swiper-slide-shadow-right {
  height: 5.78rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.5)));
}

.section9 .plot2-swiper .swiper-button-next {
  background-image: url("../images/six-right.png");
  background-size: 100% 100%;
}

.section9 .plot2-swiper .swiper-button-prev {
  background-image: url("../images/six-left.png");
  background-size: 100% 100%;
}

.section9 .plot2-swiper .swiper-button-next,
.section9 .plot2-swiper .swiper-button-prev {
  width: 0.56rem;
  height: 0.61rem;
  margin-top: -0.30rem;
}

.section9 .plot2-swiper .swiper-pagination-bullet {
  width: 0.13rem;
  height: 0.13rem;
  background-color: #ff8004;
  margin-right: 0.20rem;
}

.section9 .plot2-swiper .swiper-pagination-bullet-active {
  width: 0.28rem;
  height: 0.13rem;
  border-radius: 0.20rem;
  background-color: #fe9834;
}

.section10 {
  position: relative;
}

.section10 .screen10 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19.20rem;
  height: 6.61rem;
  background: url("../images/ten-ask.jpg") no-repeat 0 0;
  background-size: 100% 100%;
}

.section10 .screen10 .ask-img {
  position: absolute;
  top: -0.57rem;
  left: 1.10rem;
  width: 6.76rem;
  height: 7.20rem;
}

.section10 .screen10 .ask-conten {
  position: absolute;
  top: 1.60rem;
  right: 0.60rem;
  width: 8.42rem;
  height: 3.70rem;
  text-align: center;
}

.section10 .screen10 .ask-conten .ask-conten-div1 {
  width: 100%;
  height: 1.44rem;
  background: url("../images/ask-title.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.section10 .screen10 .ask-conten .ask-conten-div2 {
  margin: 0.30rem 0;
  font-size: 0.24rem;
  color: #232323;
}

.section10 .screen10 .ask-conten .ask-conten-div3 {
  width: 3.45rem;
  margin: 0 auto;
  height: 0.93rem;
  background-color: #5f77aa;
  text-align: center;
  line-height: 0.93rem;
  font-size: 0.42rem;
  color: #ffffff;
}

.section10 .screen10 .ask-conten .ask-conten-div3 a {
  color: #ffffff;
}

.section10 .screen10 .ask-conten .ask-conten-div4 {
  margin-top: 0.25rem;
  font-size: 0.14rem;
  color: #000000;
}

.screen-bottom {
  width: 100%;
  height: 3.00rem;
  background-color: #50b865;
}

.section11 {
  position: relative;
}

.footerArea {
  background: #fff;
  line-height: 0.24rem;
  padding: 0.20rem 0;
  color: #fff;
  overflow: hidden;
}

.footerArea .foot-bottom-icon {
  width: 100%;
  height: 2rem;
  border-bottom: 0.01rem solid #f5f5f5;
  margin: 0 auto;
}

.footerArea .foot-bottom-icon .foot-bottom-icon-box {
  width: 8.00rem;
  height: 1.28rem;
  margin: 0 auto;
  margin-top: 2.2rem;
}

.footerArea .foot-bottom-icon .foot-bottom-icon-box .bom-icon {
  position: relative;
  float: left;
  margin: 0 0.50rem;
  cursor: pointer;
}

.footerArea .foot-bottom-icon .foot-bottom-icon-box .bom-icon .bomicon-img {
  width: 1.00rem;
  height: 1.28rem;
}

.foot-brand {
  width: 100%;
  height: 4.17rem;
}

.foot-brand .brand-box {
  width: 13.50rem;
  height: 1.95rem;
  margin: 0 auto;
}

.foot-brand .brand-left {
  float: left;
  margin-top: 1.20rem;
}

.foot-brand .brand-left img {
  width: 4.02rem;
  height: 1.24rem;
}

.foot-brand .brand-right {
  float: left;
  width: 9.00rem;
  height: 1.90rem;
  margin-top: 0.50rem;
  margin-left: 0.34rem;
}

.foot-brand .brand-right a {
  font-size: 0.14rem;
  color: #666666;
}

.foot-brand .brand-right a:hover {
  text-decoration: underline;
  color: #ff8004;
}

.foot-brand .brand-right span {
  display: block;
  line-height: 0.30rem;
  font-size: 0.14rem;
  color: #666666;
}

.foot-brand .brand-right span:nth-child(2) {
  margin-top: 0.32rem;
}

.foot-brand1 {
  margin-top: 417px;
  width: 100%;
  height: 417px;
  background-color: #ffffff;
}

.foot-brand1 .brand-box {
  width: 1350px;
  height: 195px;
  margin: 0 auto;
}

.foot-brand1 .brand-left {
  float: left;
  margin-top: 120px;
}

.foot-brand1 .brand-left img {
  width: 402px;
  height: 124px;
}

.foot-brand1 .brand-right {
  float: left;
  width: 900px;
  height: 190px;
  margin-top: 50px;
  margin-left: 34px;
}

.foot-brand1 .brand-right a {
  font-size: 14px;
  color: #666666;
}

.foot-brand1 .brand-right a:hover {
  text-decoration: underline;
  color: #ff8004;
}

.foot-brand1 .brand-right span {
  display: block;
  line-height: 30px;
  font-size: 14px;
  color: #666666;
}

.foot-brand1 .brand-right span:nth-child(2) {
  margin-top: 32px;
}

.frame {
  position: relative;
  width: 6.02rem;
  margin: 0 auto;
  margin-top: 0.20rem;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 0.05rem;
}

.frame .frame-close {
  width: 0.45rem;
  height: 0.45rem;
  position: absolute;
  top: 0.10rem;
  right: 0.10rem;
  cursor: pointer;
}

.frame .frame-title {
  width: 100%;
  height: 0.85rem;
  line-height: 0.99rem;
  font-size: 0.18rem;
  color: #333333;
  font-weight: bold;
  text-align: center;
}

.frame .frame-conten .frame-conten-input {
  position: relative;
  width: 2.50rem;
  margin: 0 auto;
}

.frame .frame-conten .frame-conten-input input {
  float: left;
  width: 3.20rem;
  height: 0.47rem;
  outline: none;
  font-size: 0.14rem;
  color: #333333;
  padding-left: 0.10rem;
  border-radius: 0 0.05rem 0.05rem 0;
  background-color: #eaeaea;
}

.frame .frame-conten .frame-conten-input .frame-conten-tip {
  position: absolute;
  width: 0.68rem;
  height: 0.47rem;
  left: -0.68rem;
  top: 0;
  background-color: #f4f4f4;
  border-radius: 0.05rem 0 0 0.05rem;
  font-size: 0.14rem;
  text-align: center;
  line-height: 0.47rem;
  color: #333333;
}

.frame .frame-conten .frame-conten-input .frame-conten-text {
  position: absolute;
  bottom: -0.8rem;
  left: -0.68rem;
  font-size: 0.14rem;
  color: #b14654;
}

.frame .content-tips2 {
  width: 5.33rem;
  margin: 0 auto;
  margin-bottom: 0.30rem;
  font-size: 0.14rem;
  color: #666666;
  overflow: hidden;
}

.frame .content-tips2 .content-tips2-item span {
  display: block;
  line-height: 0.22rem;
}

.frame .content-tips2 .content-tips2-item .tips2-num {
  width: 0.25rem;
  float: left;
}

.frame .content-tips2 .content-tips2-item .tips2-text {
  width: 5.00rem;
  float: left;
}

.frame .content-tips3 {
  width: 5.32rem;
  margin: 0 auto;
  margin-bottom: 0.30rem;
}

.frame .content-tips3 .content-tips3-img {
  width: 100%;
  margin: 0.20rem 0;
  text-align: center;
}

.frame .content-tips3 span {
  display: block;
  font-size: 0.14rem;
  color: #666666;
  line-height: 0.22rem;
}

.frame .content-tips3 img {
  width: 3.92rem;
  height: 2.61rem;
}

.frame .frame-text {
  margin: 1rem 0;
  font-size: 0.35rem;
  font-weight: bold;
  text-align: center;
}

.frame .frame-btn {
  cursor: pointer;
  width: 0.83rem;
  height: 0.36rem;
  margin: 1rem auto 0.40rem auto;
  text-align: center;
  line-height: 0.36rem;
  font-size: 0.18rem;
  color: #ffffff;
  border-radius: 0.05rem;
  background-color: #f99236;
}

.frame .mt3 {
  margin-top: 0rem;
}

.bg2 {
  background-color: #e6e6e6;
}

.frame-make {
  position: relative;
  width: 6rem;
  height: 100%;
  margin: 0 auto;
}

.frame-make .line {
  position: absolute;
  top: 0.65rem;
  left: 50%;
  margin-left: -0.01rem;
  width: 0.02rem;
  height: 2rem;
  background-color: #c8c8c8;
}

.frame-make li {
  float: left;
  margin: 0.6rem 0.59rem;
  padding: 0.08rem 0.16rem;
}

.frame-make li img {
  border-radius: 0.28rem;
  width: 1.5rem;
  height: 1.5rem;
}

.frame-make li img:hover {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #fff;
  border: 0.05rem solid #fff;
}

.frame-make li p {
  text-align: center;
  font-size: 0.32rem;
}

.frame-4 {
  position: relative;
  width: 12.00rem;
  margin: 0.20rem auto;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 0.05rem;
}

.frame-4 .frame-close {
  cursor: pointer;
  width: 0.45rem;
  height: 0.45rem;
  position: absolute;
  top: 0.10rem;
  right: 0.10rem;
}

.frame-4 .frame-title {
  width: 100%;
  height: 0.85rem;
  line-height: 0.99rem;
  font-size: 0.18rem;
  color: #333333;
  font-weight: bold;
  text-align: center;
}

.frame-4 .frame-conten {
  width: 11.10rem;
  margin: 0 auto;
  margin-bottom: 0.30rem;
}

.frame-4 .audio-content {
  width: 100%;
  height: 5.30rem;
  overflow-y: auto;
  margin-top: 0.25rem;
  padding: 0.15rem 0 0 0.15rem;
  background-color: #f2f2f2;
}

.frame-4 .audio-content .audio-content-item {
  cursor: pointer;
  position: relative;
  float: left;
  width: 3.44rem;
  text-align: center;
  margin-bottom: 0.20rem;
  margin-left: 0.1rem;
  overflow: hidden;
  border: 0.01rem solid transparent;
}

.frame-4 .audio-content .audio-content-item:hover {
  position: relative;
  border: 0.01rem solid #ff9933;
}

.frame-4 .audio-content .audio-content-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.94rem;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.4);
}

.frame-4 .audio-content .audio-content-item .audio-img {
  position: relative;
  width: 100%;
  height: 1.94rem;
}

.frame-4 .audio-content .audio-content-item .audio-play {
  display: none;
  position: absolute;
  top: 0.70rem;
  left: 50%;
  transform: translate(-50%);
  width: 0.61rem;
  height: 0.61rem;
  z-index: 99;
}

.frame-4 .audio-content .audio-content-item div {
  width: 100%;
  height: 0.8rem;
  line-height: 0.76rem;
  margin-top: -0.2rem;
  font-size: 0.16rem;
  color: #666666;
  background-color: #ffffff;
}

.frame-5 {
  overflow: hidden;
  width: 3.34rem;
  margin: 1.00rem auto;
  text-align: center;
}

.frame-5 .frame-code {
  width: 3.30rem;
  height: 3.30rem;
  line-height: 3.30rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0.05rem;
}

.frame-5 .frame-code img {
  margin-top: 0.15rem;
  width: 3.00rem;
  height: 3.00rem;
}

.frame-5 span {
  display: block;
  font-size: 0.24rem;
  color: #ffffff;
  margin-top: 0.15rem;
}

.frame-6-box {
  width: 3.5rem;
  height: 1.75rem;
  margin: 0.23rem auto;
}

.frame-6-box .frame-wb {
  width: 100%;
  margin-top: 0.05rem;
  text-align: center;
  font-size: 0.18rem;
  color: #ffffff;
}

.frame-6 {
  position: relative;
  width: 3rem;
  height: 1.41rem;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 0.05rem;
  padding: 0.1rem 0.25rem;
}

.frame-6 .frame-close {
  cursor: pointer;
  width: 0.45rem;
  height: 0.45rem;
  position: absolute;
  top: 0.10rem;
  right: 0.10rem;
}

.frame-6 .frame-title {
  width: 100%;
  height: 0.96rem;
  line-height: 0.96rem;
  text-align: center;
  font-size: 0.18rem;
  color: #000000;
}

.frame-6 .frame-content {
  height: 1.41rem;
  overflow-y: auto;
}

.frame-6 .frame-content::-webkit-scrollbar {
  display: none;
}

.frame-6 .frame-content .frame-content-item {
  display: block;
  width: 100%;
  margin: 0.1rem 0;
  overflow: hidden;
}

.frame-6 .frame-content .frame-content-item:nth-last-child(1) {
  border-bottom: none;
}

.frame-6 .frame-content .frame-content-item span {
  display: block;
  font-size: 0.16rem;
  color: #333333;
}

.frame-6 .frame-content .frame-content-item .con-span1 {
  float: left;
  margin-left: 0.1rem;
}

.frame-6 .frame-content .frame-content-item .con-span2 {
  margin-left: 1.40rem;
}

.frame-7 {
  position: relative;
  width: 3rem;
  margin: 0 auto;
  height: 1.41rem;
  background-color: #ffffff;
  border-radius: 0.05rem;
  padding: 0.1rem 0.25rem;
}

.frame-7 .frame-close {
  cursor: pointer;
  width: 0.45rem;
  height: 0.45rem;
  position: absolute;
  top: 0.10rem;
  right: 0.10rem;
}

.frame-7 .frame-title {
  width: 100%;
  height: 0.96rem;
  line-height: 0.96rem;
  text-align: center;
  font-size: 0.18rem;
  color: #000000;
}

.frame-7 .frame-content {
  height: 1.41rem;
  overflow-y: auto;
}

.frame-7 .frame-content::-webkit-scrollbar {
  display: none;
}

.frame-7 .frame-content .frame-content-item {
  display: block;
  width: 100%;
  margin: 0.15rem 0;
  overflow: hidden;
}

.frame-7 .frame-content .frame-content-item:nth-last-child(1) {
  border-bottom: none;
}

.frame-7 .frame-content .frame-content-item span {
  display: block;
  font-size: 0.16rem;
  color: #333333;
}

.frame-7 .frame-content .frame-content-item .con-span1 {
  float: left;
  margin-left: 0.1rem;
}

.frame-7 .frame-content .frame-content-item .con-span2 {
  margin-left: 1.80rem;
}

.frame-7 .frame-wb {
  width: 100%;
  margin-top: 0.22rem;
  text-align: center;
  font-size: 0.18rem;
  color: #ffffff;
}

.frame-hover1 {
  width: 4rem;
  height: 2.3rem;
  background-color: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99110e10, endColorstr=#99110e10);
  display: none;
  text-align: center;
  z-index: 99999;
  transform: scale(0.9);
  position: absolute;
  top: -2.21rem;
  left: -1.5rem;
}

.frame-hover11 {
  width: 380px;
  height: 210px;
  background-color: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8110e10, endColorstr=#C8110e10);
  display: none;
  text-align: center;
  z-index: 99999;
  transform: scale(0.9);
  position: absolute;
  top: -220px;
  left: -130px;
}

.frame-hover11 .frame-6-box {
  position: relative;
  width: 300px;
  height: 141px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 25px;
}

.frame-hover11 .frame-wb {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.frame-hover11 .frame-6 {
  position: relative;
  width: 250px;
  height: 121px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0;
  padding: 10px 25px;
}

.frame-hover11 .frame-content {
  height: 141px;
  overflow-y: auto;
}

.frame-hover11 .frame-content::-webkit-scrollbar {
  display: none;
}

.frame-hover11 .frame-content .frame-content-item {
  display: block;
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.frame-hover11 .frame-content .frame-content-item:nth-last-child(1) {
  border-bottom: none;
}

.frame-hover11 .frame-content .frame-content-item span {
  display: block;
  font-size: 16px;
  color: #333333;
}

.frame-hover11 .frame-content .frame-content-item .con-span1 {
  float: left;
  margin-left: 10px;
}

.frame-hover11 .frame-content .frame-content-item .con-span2 {
  margin-left: 140px;
}

.frame-hover2 {
  position: absolute;
  left: -0.5rem;
  top: -2.1rem;
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8110e10, endColorstr=#C8110e10);
  display: none;
  text-align: center;
  z-index: 99999;
}

.frame-hover2 .frame-5 {
  width: 1.8rem;
  text-align: center;
  margin: 0.15rem auto;
}

.frame-hover2 .frame-5 .frame-code {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  line-height: 0.5rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0.05rem;
}

.frame-hover2 .frame-5 .frame-code img {
  margin-top: 0.05rem;
  width: 1.4rem;
  height: 1.4rem;
}

.frame-hover2 .frame-5 span {
  display: block;
  white-space: nowrap;
  font-size: 0.16rem;
  color: #ffffff;
  margin-top: 0.05rem;
}

.frame-hover22 {
  position: absolute;
  left: -80px;
  top: -270px;
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8110e10, endColorstr=#C8110e10);
  display: none;
  text-align: center;
  z-index: 99999;
}

.frame-hover22 .frame-5 {
  width: 180px;
  text-align: center;
  margin: 25px auto;
}

.frame-hover22 .frame-5 .frame-code {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}

.frame-hover22 .frame-5 .frame-code img {
  margin-top: 5px;
  width: 150px;
  height: 150px;
}

.frame-hover22 .frame-5 span {
  display: block;
  white-space: nowrap;
  font-size: 24px;
  color: #ffffff;
  margin-top: 15px;
}

.frame-hover3 {
  position: absolute;
  left: -0.5rem;
  top: -2.1rem;
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8110e10, endColorstr=#C8110e10);
  display: none;
  text-align: center;
  z-index: 99999;
}

.frame-hover3 .frame-5 {
  width: 1.8rem;
  text-align: center;
  margin: 0.15rem auto;
}

.frame-hover3 .frame-5 .frame-code {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  line-height: 0.5rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0.05rem;
}

.frame-hover3 .frame-5 .frame-code img {
  margin-top: 0.05rem;
  width: 1.4rem;
  height: 1.4rem;
}

.frame-hover3 .frame-5 span {
  display: block;
  white-space: nowrap;
  font-size: 0.16rem;
  color: #ffffff;
  margin-top: 0.05rem;
}

.frame-hover33 {
  position: absolute;
  left: -80px;
  top: -270px;
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8110e10, endColorstr=#C8110e10);
  display: none;
  text-align: center;
  z-index: 99999;
}

.frame-hover33 .frame-5 {
  width: 180px;
  text-align: center;
  margin: 25px auto;
}

.frame-hover33 .frame-5 .frame-code {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}

.frame-hover33 .frame-5 .frame-code img {
  margin-top: 5px;
  width: 150px;
  height: 150px;
}

.frame-hover33 .frame-5 span {
  display: block;
  white-space: nowrap;
  font-size: 24px;
  color: #ffffff;
  margin-top: 15px;
}

.frame-hover4 {
  width: 3rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  z-index: 99999;
}

.frame-hover4 .frame-5 {
  width: 1.8rem;
  text-align: center;
  margin: 0.5rem auto;
}

.frame-hover4 .frame-5 .frame-code {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 auto;
  line-height: 0.5rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0.05rem;
}

.frame-hover4 .frame-5 .frame-code img {
  margin-top: 0.05rem;
  width: 1.5rem;
  height: 1.5rem;
}

.frame-hover4 .frame-5 span {
  display: block;
  white-space: nowrap;
  font-size: 0.24rem;
  color: #ffffff;
  margin-top: 0.15rem;
}

.frame-hover44 {
  width: 300px;
  background-color: #232323;
  display: none;
  position: absolute;
  top: 33%;
  left: 42%;
  text-align: center;
  z-index: 99999;
}

.frame-hover44 .frame-5 {
  width: 180px;
  text-align: center;
  margin: 50px auto;
}

.frame-hover44 .frame-5 .frame-code {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}

.frame-hover44 .frame-5 .frame-code img {
  margin-top: 5px;
  width: 150px;
  height: 150px;
}

.frame-hover44 .frame-5 span {
  display: block;
  white-space: nowrap;
  font-size: 24px;
  color: #ffffff;
  margin-top: 15px;
}

.tips1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: url("../images/tipsbg.jpg") no-repeat 0 0;
  background-size: cover;
  background-position: center 0;
}

.tips1 .tips-title {
  position: relative;
  width: 1070px;
  margin: 0 auto;
  height: 72px;
  margin-top: 100px;
  background: url("../images/tips-title.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.tips1 .tips-title .tips-back {
  position: absolute;
  top: -20px;
  left: 0;
  display: block;
}

.tips1 .tips-title .tips-back img {
  float: left;
  width: 50px;
  height: 45px;
}

.tips1 .tips-title .tips-back .tips-back-text {
  float: left;
  line-height: 45px;
  margin-left: 10px;
  font-size: 32px;
  color: #fd942e;
}

.tips1 .tips-text1 {
  width: 750px;
  font-size: 18px;
  line-height: 30px;
  color: #666666;
  margin: 0 auto;
  margin-top: 100px;
}

.tips1 .tips-text2 {
  width: 750px;
  font-size: 18px;
  color: #fd942e;
  margin: 0 auto;
  margin-top: 18px;
}

.tips1 .tips-btn {
  width: 580px;
  height: 70px;
  margin: 0 auto;
  margin-top: 70px;
}

.tips1 .tips-btn img {
  float: left;
  width: 40px;
  height: 40px;
  margin: 15px 15px 0 55px;
}

.tips1 .tips-btn p {
  float: left;
  line-height: 22px;
  margin-top: 15px;
  font-size: 18px;
  color: #ffffff;
}

.tips1 .tips-btn a {
  display: block;
}

.tips1 .tips-btn i {
  font-style: normal;
  font-size: 15px;
}

.tips1 .tips-btn .tips-btn1 {
  float: left;
  width: 260px;
  height: 100%;
  margin-right: 15px;
  border-radius: 5px;
  background-color: #1ea16d;
}

.tips1 .tips-btn .tips-btn2 {
  float: left;
  width: 260px;
  height: 100%;
  margin-left: 15px;
  border-radius: 5px;
  background-color: #000000;
}

.tips1 .tips-btn .tips-btn2 img {
  width: 35px;
  height: 42px;
}

.tips1 .tips-bom {
  width: 800px;
  margin: 0 auto;
  height: 127px;
  margin-top: 140px;
}

.tips1 .tips-bom .tips-bom-item {
  float: left;
  margin: 0 45px;
  position: relative;
}

.tips1 .tips-bom .tips-bom-item .tips-bom-item-img {
  width: 100px;
  height: 127px;
}

.tips2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: url("../images/tipsbg.jpg") no-repeat 0 0;
  background-size: cover;
  background-position: center 0;
}

.tips2 .tips-title {
  position: relative;
  width: 1070px;
  margin: 0 auto;
  height: 72px;
  margin-top: 100px;
  background: url("../images/tips-title.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.tips2 .tips-title .tips-back {
  position: absolute;
  top: -20px;
  left: 0;
  display: block;
}

.tips2 .tips-title .tips-back img {
  float: left;
  width: 50px;
  height: 45px;
}

.tips2 .tips-title .tips-back .tips-back-text {
  float: left;
  line-height: 45px;
  margin-left: 10px;
  font-size: 32px;
  color: #fd942e;
}

.tips2 .tips-text1 {
  width: 750px;
  font-size: 18px;
  line-height: 30px;
  color: #666666;
  margin: 0 auto;
  margin-top: 100px;
}

.tips2 .tips-text2 {
  width: 750px;
  font-size: 18px;
  color: #fd942e;
  margin: 0 auto;
  margin-top: 18px;
}

.tips2 .tips-btn {
  width: 580px;
  height: 70px;
  margin: 0 auto;
  margin-top: 70px;
}

.tips2 .tips-btn img {
  float: left;
  width: 40px;
  height: 40px;
  margin: 15px 15px 0 55px;
}

.tips2 .tips-btn p {
  float: left;
  line-height: 22px;
  margin-top: 15px;
  font-size: 18px;
  color: #ffffff;
}

.tips2 .tips-btn a {
  display: block;
}

.tips2 .tips-btn i {
  font-style: normal;
  font-size: 15px;
}

.tips2 .tips-btn .btnbox2 {
  float: left;
  margin-left: 20px;
}

.tips2 .tips-btn .btnbox2 .tips-btn1 {
  display: block;
  width: 260px;
  height: 72px;
  margin-right: 15px;
  border-radius: 5px;
  background-color: #000000;
}

.tips2 .tips-btn .btnbox2 .tips-btn2 {
  display: block;
  width: 260px;
  height: 72px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #000000;
}

.tips2 .tips-btn .btnbox2 .tips-btn2 img {
  width: 35px;
  height: 42px;
}

.tips2 .tips-btn .btnbox1 {
  float: left;
  width: 260px;
  height: 135px;
  background-color: #1ea16d;
  border-radius: 5px;
  padding-top: 30px;
}

.tips2 .tips-btn .btnbox1 a {
  display: block;
  width: 100%;
  height: 100%;
}

.tips2 .tips-btn .btnbox1 a img {
  width: 140px;
  height: 67px;
}

.tips2 .tips-bom {
  width: 800px;
  margin: 0 auto;
  height: 127px;
  margin-top: 140px;
}

.tips2 .tips-bom .tips-bom-item {
  float: left;
  margin: 0 45px;
  position: relative;
}

.tips2 .tips-bom .tips-bom-item .tips-bom-item-img {
  width: 100px;
  height: 127px;
}

body,
html {
  width: 100%;
  height: 100%;
}

html {
  font-size: 5.21vw;
}

@media screen and (max-width: 600px) {
  html {
    background: #f60;
    color: #000;
    font-size: 66px;
  }
}

@media screen and (max-height: 600px) {
  html {
    background: #f60;
    color: #000;
    font-size: 56px;
  }
}
