@import "_fontsize";
@import "_dt";

body {
  background-color: #c91f2b;
}

.box {
  width: 7.5rem;
  margin: 0 auto;
}

.head {
  position: relative;
  width: 7.5rem;
  height: 8.06rem;
  background: url("../images/bg.png") no-repeat 0 0;
  background-size: 100% 100%;

  .head-img {
    position: absolute;
    top: 0.12rem;
    left: 0.12rem;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 1px solid #ffbf4c;
  }

  .head-title {
    width: 6.73rem;
    height: 2.05rem;
    position: absolute;
    top: 0.75rem;
    left: 50%;
    margin-left: -3.36rem;
  }

  .head-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5.9rem;
    text-align: center;
    font-size: 0.26rem;
    color: #a63333;
    white-space: nowrap;
    line-height: 0.4rem;

    a {
      font-weight: bold;
      color: #eb322e;
      text-decoration: underline;
    }
  }
}

.head-btn {
  position: relative;
  z-index: 1;
  width: 7.5rem;
  display: flex;
  justify-content: space-around;
  margin-top: -1.1rem;

  a {
    display: block;
    width: 3.32rem;
    height: 1rem;
  }

  .btn1 {
    background: url("../images/bt1.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .btn11 {
    background: url("../images/bt11.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .btn2 {
    background: url("../images/bt2.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .btn22 {
    background: url("../images/bt22.png") no-repeat 0 0;
    background-size: 100% 100%;
  }
}

.game-box1-unshow {
  display: none;
}

.roof {
  width: 7.46rem;
  height: 2.28rem;
  margin: 0.1rem auto 0;
  background: url("../images/roof.png") no-repeat 0 0;
  background-size: 100% 100%;

  // display: flex;
  // justify-content: space-around;
  div {
    width: 6.9rem;
    margin: 0 auto;
    padding-top: 1.2rem;
    display: flex;
    justify-content: space-between;
  }

  a {
    display: block;
    width: 1.62rem;
    height: 0.81rem;
  }

  .rbtn1 {
    background: url("../images/btn1.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .rbtn11 {
    background: url("../images/btn11.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .rbtn2 {
    background: url("../images/btn2.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .rbtn22 {
    background: url("../images/btn22.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .rbtn3 {
    background: url("../images/btn3.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .rbtn33 {
    background: url("../images/btn33.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .rbtn4 {
    background: url("../images/btn4.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .rbtn44 {
    background: url("../images/btn44.png") no-repeat 0 0;
    background-size: 100% 100%;
  }
}


.game {
  position: relative;
  width: 6.86rem;
  margin: 0.6rem auto;
  // height: 3rem;
  background-color: #fff9e5;
  border-left: 0.04rem solid #ffcd74;
  border-right: 0.04rem solid #ffcd74;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    top: -0.58rem;
    left: -0.04rem;
    width: 6.95rem;
    height: 0.65rem;
    background: url("../images/top.png") no-repeat 0 0;
    background-size: 100% 100%;
    z-index: -1;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -0.48rem;
    left: -0.04rem;
    width: 6.95rem;
    height: 0.51rem;
    background: url("../images/bom.png") no-repeat 0 0;
    background-size: 100% 100%;
    z-index: -1;
  }

  .game-input {
    position: relative;
    width: 6.52rem;
    margin: 0 auto 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -0.13rem;
      left: 0.2rem;
      width: 0.25rem;
      height: 0.25rem;
      background: url("../images/search.png") no-repeat 0 0;
      background-size: 100% 100%;
    }

    input {
      position: relative;
      width: 4rem;
      height: 0.6rem;
      background-color: #fed7c7;
      font-size: 0.24rem;
      color: #e49574;
      border-radius: 0.3rem;
      border: 1px solid #ffb799;
      outline: none;
      padding-left: 0.5rem;

      &::-webkit-input-placeholder {
        color: #e49574;
      }


    }

    a {
      display: block;
      width: 1.78rem;
      height: 0.64rem;
      background: url("../images/search-btn.png") no-repeat 0 0;
      background-size: 100% 100%;
    }
  }

  .game-item {
    position: relative;
    width: 6.05rem;
    margin: auto;
    // height: 4.04rem;
    padding: 0.2rem 0.25rem;
    border-radius: 0.2rem;
    background-color: #ffffff;
    border: 1px solid #ff8800;
    // background: linear-gradient(to right, #fed19f, #ffdfb8);

    .tips {
      position: absolute;
      top: 0;
      right: 0.2rem;
      width: 0.83rem;
      height: 0.61rem;
      background: url("../images/tips-bg.png") no-repeat 0 0;
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.24rem;
      color: #ffe1bd;
    }

    .game-head {
      display: flex;
      align-items: center;

      img {
        width: 1.18rem;
        height: 1.19rem;
        border-radius: 0.08rem;
        // border: 2px solid #ffa53f;
      }

      ul {
        position: relative;
        flex: 1;
        margin-left: 0.3rem;

        li {
          font-size: 0.28rem;
          color: #d23131;
          font-weight: bold;
          margin: 0.1rem 0;
          line-height: 0.34rem;
        }

        .time {
          display: flex;
          width: 3.4rem;
          font-size: 0.22rem;
          color: #ffa43c;
          border-radius: 0.06rem;
          border: 1px solid #ffe7cc;
          padding-left: 0.15rem;
          font-weight: 400;

          a {
            display: block;
            border-right: 1px solid #ffe7cc;
            padding-right: 0.15rem;
          }

          em {
            padding-left: 0.15rem;
          }
        }

        .game-icon {
          position: absolute;
          right: 0.1rem;
          top: 0.4rem;
          width: 0.5rem;

          img {
            display: block;
            margin: 0 auto;
            width: 0.32rem;
            height: 0.31rem
          }

          p {
            text-align: center;
            font-size: 0.22rem;
            color: #fb4455;
          }
        }

        .over {
          filter: grayscale(100%);
        }


      }
    }

    .game-mode1 {
      font-size: 0.26rem;
      color: #d23131;
      font-weight: bold;
      line-height: 0.38rem;
    }

    .game-mode2 {
      font-size: 0.24rem;
      color: #de856a;
      line-height: 0.38rem;
      display: flex;
      // align-items: center;

      .icon3 {
        margin-top: 0.03rem;
        margin-right: 0.05rem;
        display: block;
        width: 0.25rem;
        height: 0.25rem;
        background: url("../images/icon2.png");
        background-size: 100% 100%;
      }
    }

    .table {
      width: 6rem;
      margin: 0.25rem auto;
      border: 1px solid #ffa43c;
      border-spacing: 0px;
      line-height: 0.6rem;

      tr:nth-child(1) {
        border-radius: 0.08rem 0.08rem 0 0;
      }

      th {
        background-color: #fff9e5;
        text-align: center;
        font-size: 0.24rem;
        color: #d16240;
        border-bottom: 1px solid #ffa43c;
        font-weight: 400;

        &:nth-child(1) {
          width: 3.8rem;
          border-right: 1px solid #ffa43c;
        }
      }

      tr>td {
        color: #d16240;
        color: 0.24rem;
        text-align: center;
        vertical-align: middle;
        border-right: 1px solid #ffa43c;
        border-bottom: 1px solid #ffa43c;
      }

      tr>td:last-child {
        border-right: none;
      }

      tr:nth-last-child(1)>td {
        border-bottom: none;
      }

      tr>td:last-child {
        border-right: none;
      }

      tr:nth-last-child(1)>td {
        border-bottom: none;
      }
    }

    .game-btn {
      display: block;
      width: 2.58rem;
      height: 0.67rem;
      margin: 0 auto 0.15rem;
      text-align: center;
      line-height: 0.68rem;
      font-size: 0.26rem;
      color: #fff6d7;
      font-weight: bold;
      background: url("../images/btn5.png");
      background-size: 100% 100%;
    }

    .game-text {
      font-size: 0.24rem;
      color: #d16240;
    }

    .gmt {
      margin-top: 0.38rem;
    }

    .gmt2 {
      margin-top: 0.2rem;
    }

    .game-bom {
      display: flex;
      // align-items: flex-end;
      justify-content: flex-end;

      p {
        flex: 1;
        line-height: 0.38rem;
      }

      div {
        margin-right: 0.18rem;
        margin-top: 0.5rem;
        transform: translateY(0.1rem);

        img {
          display: block;
          margin: 0 auto;
          width: 0.32rem;
          height: 0.31rem
        }

        p {
          font-size: 0.22rem;
          color: #fb4455;
        }
      }

      a {
        display: block;
        margin-top: 0.55rem;
        width: 1.46rem;
        height: 0.67rem;
        background: url("../images/game-btn.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }
  }

  .more {
    display: block;
    width: 3.55rem;
    height: 0.84rem;
    overflow: hidden;
    margin: 0.4rem auto;
    background: url("../images/morebtn.png") no-repeat 0 0;
    background-size: 100% 100%;

  }

  .mb3 {
    margin-bottom: 0.28rem;
  }

  .task-text {
    width: 6.1rem;
    margin: 0 auto;
    font-size: 0.24rem;
    color: #dd815c;
    line-height: 0.36rem;
  }

  .task-sp {
    width: 6.1rem;
    margin: 0.1rem auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 0.28rem;
      color: #dd815c;
      font-weight: bold;
    }

    .task-btn {
      display: block;
      width: 1.78rem;
      height: 0.65rem;
      background: url("../images/task-btn.png") no-repeat 0 0;
      background-size: 100% 100%;
    }
  }

  .task-tips {
    width: 6.71rem;
    height: 0.62rem;
    background: url("../images/tack-bg.png") no-repeat 0 0;
    display: flex;
    // align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    color: #f94052;
    font-size: 0.24rem;
    -webkit-box-sizing: border-box;
    margin: 0.4rem auto;
    overflow: hidden;

    li {
      height: 0.62rem;
      line-height: 0.64rem;
      overflow: hidden;
      text-align: center;
    }
  }

  .task-hb {
    position: relative;
    display: block;
    width: 3.14rem;
    height: 3.98rem;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
    }

    .hb-btn {
      width: 1.29rem;
      height: 1.33rem;
      position: absolute;
      top: 0.8rem;
      left: 50%;
      margin-left: -0.64rem;
    }
  }

  .hb-link {
    position: absolute;
    bottom: 0.1rem;
    right: 0.4rem;
    font-size: 0.28rem;
    color: #fa4454;
    text-decoration: underline;
  }

  .game-title {
    margin-bottom: 0.3rem;
    font-size: 0.36rem;
    text-align: center;
    color: #d23131;
    font-weight: bold;
  }

  .eday-item {
    width: 6rem;
    margin: 0 auto 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-last-child(1) {
      padding-bottom: 0.2rem;
    }

    p {
      font-size: 0.3rem;
      color: #dd815c;
    }

    .eday-btn {
      width: 1.94rem;
      height: 0.61rem;
      color: #fff6d7;
      font-size: 0.28rem;
      line-height: 0.62rem;
      text-align: center;
      background: url("../images/btnbg.png") no-repeat 0 0;
      background-size: 100% 100%;
    }
  }

  .eday-btn-active {
    filter: grayscale(100%);
  }
}


.connet {
  width: 6.16rem;
  margin: -0.13rem auto 0;
  height: 0.25rem;
  background: url("../images/connet.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.mtf {
  margin-top: -0.5rem;
}

.bom {
  width: 7.5rem;
  height: 2.04rem;
  margin: 1rem auto 0;
  background: url("../images/bom-tip.png") no-repeat 0 0;
  background-size: 100% 100%;
}

// 侧边
.side {
  position: fixed;
  right: 0.1rem;
  bottom: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.side-item {
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.08rem 0;
  width: 0.86rem;
  height: 0.86rem;
  // background: url('../images/sidebg.png') no-repeat 0 0;
  // background-size: 100% 100%;

  .tips {
    position: absolute;
    top: -0.35rem;
    left: -0.1rem;
    width: 1.18rem;
    text-align: center;
    height: 0.32rem;
    line-height: 0.3rem;
    background: url('../images/side-tip.png') no-repeat 0 0;
    background-size: 100% 100%;

    span {
      color: #e9defd;
      font-size: 0.2rem;
    }
  }

  p {
    line-height: 0.3rem;
    font-size: 0.26rem;
    color: #ffffff;
  }
}

.side-icon {
  width: 0.38rem;
  height: 0.38rem;
  margin: 0.14rem 0 0.1rem 0;
  /* margin-top: -0.05rem; */
}

.side-text {
  font-size: 0.2rem;
  color: #ffffff;
}

.side1 {
  background: url('../images/side1.png') no-repeat 0 0;
  background-size: 100% 100%;
}

.side2 {
  background: url('../images/side2.png') no-repeat 0 0;
  background-size: 100% 100%;
}

.side3 {
  background: url('../images/side3.png') no-repeat 0 0;
  background-size: 100% 100%;
}


.frame {
  position: relative;
  width: 6.02rem;
  margin: 0 auto;
  // height: 3rem;
  background-color: #ffeee1;
  border-radius: 0.3rem;
  border: 0.04rem solid #df9144;
  padding: 0.5rem 0;

  .frame-close {
    width: 0.35rem;
    height: 0.35rem;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
  }

  .frame-title {
    font-size: 0.36rem;
    color: #ee4d3e;
    font-weight: bold;
    text-align: center;
  }

  .frame-txt-box {
    width: 4.7rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .frame-text1 {
    font-size: 0.28rem;
    color: #dd815c;
    text-align: center;
    font-weight: bold;
    margin: 0.28rem 0;
  }

  .frame-text2 {
    width: 5.2rem;
    margin: 0 auto;
    font-size: 0.24rem;
    color: #dd815c;
    line-height: 0.43rem;
  }

  .frame-text3 {
    text-align: center;
    width: 5.2rem;
    font-size: 0.24rem;
    color: #dd815c;
    line-height: 0.43rem;
    margin: 0 auto;
  }

  .frame-btn {
    display: block;
    width: 1.94rem;
    margin: 0.35rem auto 0;
    height: 0.61rem;
    color: #fff6d7;
    font-size: 0.28rem;
    line-height: 0.62rem;
    text-align: center;
    background: url("../images/btnbg.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  .frame-link {
    color: #ee4d3e;
  }

  .fmb {
    margin-top: 0.4rem;
    margin-bottom: 0.3rem;
  }
}


.shake {
  -webkit-animation: shake 4s linear infinite
}

.breath {
  animation: breath alternate infinite linear 0.8s;
  -webkit-animation: breath alternate infinite linear 0.8s;
}

@-webkit-keyframes shake {
  0% {
    transform: scale(1);
    -webkit-transform: scale3d(1, 1, 1)
  }

  3% {
    -webkit-transform: scale(.9) rotate(-4deg)
  }

  9%,
  15% {
    -webkit-transform: scale(1.01) rotate(4deg)
  }

  6%,
  12%,
  18% {
    -webkit-transform: scale(1.01) rotate(-4deg)
  }

  36%,
  100% {
    -webkit-transform: scale(1)
  }
}

@keyframes breath {
  0% {
    transform: scale(0.9)
  }

  100% {
    transform: scale(1.05)
  }
}
